body {
    padding-top: 5rem;
}

.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}

h1 {
    color: #0000FF;
}

h2 {
    color: #FF0000;
}

.wrapper {
    display: grid;
    grid-template-columns: 30% 30% 40%;
    grid-gap: 10px;
    background-color: #fff;
    color: #444;
    margin-top: 5px;
}

.box {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 5px;
    white-space: pre-line;
}